@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Gallery>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='../photobox/photobox.css'>
    <link rel="stylesheet" href="../css/gallery-style.css">

</head>
<body>

     @Html.Raw(Model.Content.Test)

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='../photobox/jquery.photobox.min.js'></script>
    <script>
        // https://github.com/yairEO/photobox
        // applying photobox on a `gallery` element which has lots of thumbnails links.
        // Passing options object as well:
        //-----------------------------------------------
        $('#gallery').photobox('a', { thumbs: true, loop: false });
    </script>
</body>
</html>